@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #111121;
  color: white;
  font-family: "Bitcount Grid Single", system-ui;
}

@layer components {
  .p-h1 {
    @apply text-[100px] font-bold;
  }

  .span {
    @apply text-[20px];
  }

  .span-md {
    @apply text-[16px];
  }

  .p-input {
    @apply bg-gray-800 text-white p-2 rounded-md w-full border h-[60px];
  }

  .p-button {
    @apply bg-blue-500 text-white py-2 rounded hover:bg-blue-600 px-3;
  }

  .s-button {
    @apply bg-blue-400 text-white py-2 rounded hover:bg-blue-600 px-3;
  }
}
